<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <springProperty scope="context" name="product" source="spring.application.name"/>
    <springProperty scope="context" name="profile" source="spring.profiles.active"/>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <appender name="ROLLIN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>spring.${product}.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level --- [%-21.21thread] %-35.35logger{35} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="Logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>dev.elk.nalbam.com:5044</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"product":"${product}","profile":"${profile}"}</customFields>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="ROLLIN"/>
        </root>
    </springProfile>

    <springProfile name="dev, prod">
        <root level="WARN">
            <appender-ref ref="ROLLIN"/>
            <appender-ref ref="Logstash"/>
        </root>
    </springProfile>
</configuration>
